ul.numeric {
    counter-reset: section;
    list-style-type: none;
}

ul.numeric li {
    list-style-type: none;
}

ul.numeric li ul {
    counter-reset: subsection;
}

ul.numeric li:before {
    counter-increment: section;
    content: counter(section) ". ";
}

ul.numeric li ul li:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}